<section class="aboutus" id="about-us">
	<div class="container">
		<div class="overlay">
			<div class="aboutus-img">
				<ul class="aboutus-img-list">
					<li class="aboutus-img-item">
						<picture class="aboutus-img-photo">
							<source
								media="(max-width: 1199px)"
								srcset="
									/images/about-us-section/about-us-tablet1-1x-min.jpg 1x,
									/images/about-us-section/about-us-tablet1-2x-min.jpg 2x
								"
							/>
							<source
								media="(min-width: 1200px)"
								srcset="
									/images/about-us-section/about-us-desktop1-1x-min.jpg 1x,
									/images/about-us-section/about-us-desktop1-2x-min.jpg 2x
								"
							/>
							<img src="/images/about-us-section/about-us-tablet1-1x-min.jpg" alt="стрижка бороды" />
						</picture>
					</li>

					<li class="aboutus-img-item">
						<picture class="aboutus-img-photo">
							<source
								media="(max-width: 1199px)"
								srcset="
									/images/about-us-section/about-us-tablet2-1x-min.jpg 1x,
									/images/about-us-section/about-us-tablet2-2x-min.jpg 2x
								"
							/>
							<source
								media="(min-width: 1200px)"
								srcset="
									/images/about-us-section/about-us-desktop2-1x-min.jpg 1x,
									/images/about-us-section/about-us-desktop2-2x-min.jpg 2x
								"
							/>
							<img src="/images/about-us-section/about-us-tablet2-1x-min.jpg" alt="стрижка головы" />
						</picture>
					</li>
				</ul>
			</div>

			<div class="text-container">
				<p class="section-description">About us</p>

				<h2 class="aboutus-title section-title">The Best Barbershop in Your City</h2>
				<p class="aboutus-text text-section">
					Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum, dolore.
				</p>
				<p class="aboutus-text-second">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptatum pariatur recusandae laborum,
					incidunt minus veniam mollitia accusamus placeat praesentium fugit eveniet velit voluptates quibusdam fuga
					reiciendis nemo. Sapiente perspiciatis et consequatur deserunt porro cupiditate beatae nobis, dolorum
					praesentium temporibus?
				</p>
				<button class="btn btn-light" type="button" data-about-open>Book Now</button>
			</div>
		</div>
	</div>
</section>
