<section class="features container">
    <div class="features-block">

            <p class="section-description">Best School</p>
   
 

     
        <h2 class="features-title section-title">Why Clients Choose Us?</h2>
        <p class="features-text text-section">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quam qui ipsa impedit minima quibusdam itaque similique suscipit minus pariatur.
        </p>
    </div>
    <div>
        <ul class="features-list">
            <li class="features-item"><span class="features-score">600<sup class="features-score-sub">+</sup></span><span class="features-score-text">Satisfied Clients
                 everyday</span></li>
            <li class="features-item"><span class="features-score">50<sup class="features-score-sub">+</sup></span><span class="features-score-text">Awards</span></li>
            <li class="features-item"><span class="features-score">20<sup class="features-score-sub">+</sup></span><span class="features-score-text">The Best Professionals</span></li>
            <li class="features-item"><span class="features-score">100<sup class="features-score-sub">+</sup></span><span class="features-score-text">Lorem, ipsum dolor.</span></li>
    </div>
</section> 
