<section class="price-section" id="price">
	<div class="container">
		<p class="section-description price-subtitle">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>

		<h2 class="price-title section-title">Price</h2>

		<ul class="price-list">
			<li class="price-list-item">
				Haircut
				<span class="price-list-value">30</span>
			</li>
			<li class="price-list-item">
				Shave
				<span class="price-list-value">20</span>
			</li>
			<li class="price-list-item">
				Beard Trim
				<span class="price-list-value">20</span>
			</li>
			<li class="price-list-item">
				Royal Shave
				<span class="price-list-value">20</span>
			</li>
			<li class="price-list-item">
				Shave
				<span class="price-list-value">50</span>
			</li>
			<li class="price-list-item">
				Beard Trim
				<span class="price-list-value">20</span>
			</li>
			<li class="price-list-item">
				Haircut and Wash
				<span class="price-list-value">30</span>
			</li>
			<li class="price-list-item">
				Beard Trim
				<span class="price-list-value">20</span>
			</li>
		</ul>
		<div class="price-list-desktop">
			<ul class="price-list-part">
				<li class="price-list-item">
					Beard Trim
					<span class="price-list-value">30</span>
				</li>
				<li class="price-list-item">
					Haircut and Wash
					<span class="price-list-value">20</span>
				</li>
				<li class="price-list-item">
					Beard Trim
					<span class="price-list-value">20</span>
				</li>
				<li class="price-list-item">
					Shave
					<span class="price-list-value">20</span>
				</li>
			</ul>
			<ul class="price-list-part second">
				<li class="price-list-item">
					Haircut and Wash
					<span class="price-list-value">50</span>
				</li>
				<li class="price-list-item">
					Shave
					<span class="price-list-value">20</span>
				</li>
				<li class="price-list-item">
					Haircut and Wash
					<span class="price-list-value">30</span>
				</li>
				<li class="price-list-item">
					Haircut and Wash
					<span class="price-list-value">20</span>
				</li>
			</ul>
		</div>
		<button class="btn button-price" type="button" data-price-open>Book Now</button>
	</div>
</section>
